<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 mt-4">
      <h3><%= @cocktail.name %></h3>
      <div class="card-cocktail">
        <!-- <div class="card-img" style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 360, width: 1080, crop: :fill %>')"> -->
        </div>
          <div class="p-3">
            <h2 class="mt-2 mb-2">Ingredients:</h2>
            <ul>
              <% @doses.each do |dose| %>
                <li>
                  <%= "#{dose.ingredient.name}: #{dose.description}" %>
                  <%= link_to [@cocktail, dose], method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <h4>Edit cocktail:</h4>
        <%= render 'form', cocktail: @cocktail %>
      </div>
    </div>
    <div class="col-6">
      <div>
        <h4>Add a new ingredient:</h4>
        <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.association :ingredient, class:"select2" %>
          <%= f.input :description %>
          <%= f.hidden_field :cocktail_id, value: @cocktail.id %>
          <%= f.button :submit, class:"btn btn-outline-success my-2 my-sm-0 mr-2"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
