<div class="container">
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.hidden_field :cocktail_id, value: @cocktail.id %>
    <%= f.button :submit, class:"btn btn-outline-success my-2 my-sm-0 mr-2"%>
  <% end %>
</div>


<%# link_to 'Add a recipe', new_cocktail_path, class:"btn btn-outline-success my-2 my-sm-0 mr-2" %>
